img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row {
    height: 400px;
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.row > div, .row > img {
    flex: 1;
}

.vertical-collage {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.vertical-collage img {
    flex: 1;
}

.square-collage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 5px;
}

/* responsive */
@media screen and (max-width:576px){
    .row{
        flex-direction: column;
        height: auto;
    }
    .square-collage {
        grid-template-columns: 1fr 1fr;
    }
}
